/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {

    background-color: #000;
    color: #FFF;
   
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

#ipad-horizontal{
    width:1024px;
    height:700px;
    background-image: url("../assets/bg1.jpg");
    background-size:cover;
}

#title-holder {
    padding:0px;
    margin: 0px;
    padding-left: 4%;
    line-height: 2.1em;
    padding-top: 2px;
}

#background-image-holder {
    background-image: url("../assets/mmc_seal_2_2048x1600.jpg");
    height:50%;
    max-height:50%;
    margin-bottom:6%;
    font-size: 0.5em;
    color:#0FF;
}


#background-image-holder img {
    max-width: 100%;
    max-height: 100%;
}

    
#button-holder {
}



#button-left-holder{
    float:left;
    width:48%;
    text-align: center;
}

#button-right-holder{
    float:left;
    width:48%;
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.button-left {
    border-radius: 12px;    
    background-color: #6aaebb; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    height: 6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      position:relative;
      margin-bottom: 20px;
}


.button-right {
    border-radius: 12px;    
    background-color: #71a9e3; /* Green */
    border: none;
    padding: 15px 32px;
    height: 6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      position:relative;
      margin-bottom: 20px;
}


.button-left:hover {
border:2px solid #FFF;
}


.button-right:hover {
border:2px solid #FFF;
}

.resized-image{
    width: 50%;
    height:50%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
